WCFClient/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Service/Service1/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Group">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsOwner" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MembersIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Group" nillable="true" type="tns:Group" />
  <xs:complexType name="ActiveSession">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MulticastAddres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActiveSession" nillable="true" type="tns:ActiveSession" />
  <xs:complexType name="ArrayOfGroupInvite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupInvite" nillable="true" type="tns:GroupInvite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupInvite" nillable="true" type="tns:ArrayOfGroupInvite" />
  <xs:complexType name="GroupInvite">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromUser" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="FromUserId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ToGroup" nillable="true" type="tns:Group" />
      <xs:element minOccurs="0" name="ToGroupId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupInvite" nillable="true" type="tns:GroupInvite" />
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroup" nillable="true" type="tns:ArrayOfGroup" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfActiveSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActiveSession" nillable="true" type="tns:ActiveSession" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActiveSession" nillable="true" type="tns:ArrayOfActiveSession" />
</xs:schema>